@model StockStatus
@{
    ViewBag.Title = @FCVStockTool.Language.StockStatus.StockStatus.Title;
}

<div class="page-header">
    <h1>@FCVStockTool.Language.StockStatus.StockStatus.Title</h1>
</div>

<div class="panel panel-info">
    <div class="panel-body">
        <div class="col-lg-8">
        </div><!-- /.col-lg-6 -->
        @using (Html.BeginForm())
        {
            <div class="col-lg-4">
                <div class="input-group">

                    <input id="searchString" name="searchString" type="text" class="form-control" placeholder="@FCVStockTool.Language.Common.Common.SearchButton...">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search" type="submit">@FCVStockTool.Language.Common.Common.SearchButton</button>
                    </span>

                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        }
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>@FCVStockTool.Language.StockStatus.StockStatus.Text</th>
                @*<th></th>*@
            </tr>
            @foreach (var c in ViewBag.StockStatuses)
            {
                <tr>
                    <td>@c.Text</td>
                    @*<td><center><a href="/StockStatus/Index/@c.Id?PageNo=@ViewBag.CurrentPage">@FCVStockTool.Language.Common.Common.EditButton</a></center></td>*@
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            @for (int i = 1; i <= @ViewBag.TotalPage; i++)
            {
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/StockStatus/Index?PageNo=@i" class="btn btn-default display-inline">@i</a>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        $("#btnDelete").click(function () { return ConfirmDelete() });
    </script>
}
