@model FCV_DutchLadyMail_Model.Models.Templates

@{
    ViewBag.Title = "Templates Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        hr {
             margin-top: 0; 
             margin-bottom: 0; 
            border: 0;
            border-top: 1px solid #eee;
        }
    </style>
}
<div class="container" style="padding-top: 10px; width: 100%;">
    <div class="row">
        <div class="col-6 col-md-2">
            <span>Name</span>
        </div>
        <div class="col-12 col-md-8 form-group">
            @Model.Name

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6 col-md-2">
            <span>Contents</span>
        </div>
        <div class="col-12 col-md-8 form-group">
            @MvcHtmlString.Create(@Model.Contents)
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6 col-md-2">
            <span>Created By</span>
        </div>
        <div class="col-12 col-md-8 form-group">
            @Model.CreatedBy
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-6 col-md-2">
            <span>Created Time</span>
        </div>
        <div class="col-12 col-md-8 form-group">
            @Model.CreationTime
        </div>
    </div>
    <hr />
    <div class="col-md-12" style="padding-bottom:10px; padding-left:0px;padding-top:20px">
        @Html.ActionLink("Go to Templates List", "Index", new { controller = "Templates" }, new { @class = "btn btn-danger" })
    </div>
</div>