@model FCV_DutchLadyMail_Model.Models.ROLE
@{
    ViewBag.Title = "Create Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

</script>
<div class="container" style="padding-top: 20px; width: 100%">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    <div class="">
        <div class="col-xs-6 form-group">
            <label>@Html.LabelFor(model => model.RoleName, "Role Name")</label>
            @Html.TextBoxFor(model => model.RoleName, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RoleName)
        </div>
        <div class="col-xs-6 form-group">
            <label>@Html.LabelFor(model => model.RoleDescription, "Role Description")</label>
            @Html.TextBoxFor(model => model.RoleDescription, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.RoleDescription)
        </div>
        <div class="col-xs-6 form-group">
            <label>@Html.LabelFor(model => model.IsSysAdmin, "IsSysAdmin")</label>
            @Html.EditorFor(model => model.IsSysAdmin, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IsSysAdmin)
        </div>
    </div>
    <div class="col-md-12" style="padding-bottom:10px">
        <input type="submit" value="Create Role" class ="btn btn-primary" />
        @Html.ActionLink("Go to Roles", "Index", new { @controller = "Role" }, new { @class ="btn btn-danger"})

    </div>
    }
</div>
<div>
</div>

