@model ProductClass
@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>@FCVStockTool.Language.ProductClass.ProductClass.ListProductClass</h1>
</div>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.Id)
    <div class="panel panel-info">
        <div class="panel-heading">@FCVStockTool.Language.ProductClass.ProductClass.InforDetail</div>
        <!-- Default panel contents -->
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 form-group">
                    <div>@FCVStockTool.Language.ProductClass.ProductClass.Code</div>
                    @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @readonly = "readonly" })
                </div>
                <div class="col-md-4 form-group">
                    <div>@FCVStockTool.Language.ProductClass.ProductClass.Name</div>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name)
                </div>
                <div class="col-md-6 form-group">
                    <div>@FCVStockTool.Language.ProductClass.ProductClass.Note</div>
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 button-list ">
                    <button disabled="@(Model.Id > 0 ? true : false)" onclick="form.action = '/ProductClass/Create?PageNo=@ViewBag.CurrentPage'" class="btn btn-info">@FCVStockTool.Language.ProductClass.ProductClass.CreateCate</button>
                    <button disabled="@(Model.Id > 0 ? false : true)" onclick="form.action = '/ProductClass/Edit?PageNo=@ViewBag.CurrentPage'" class="btn btn-info">@FCVStockTool.Language.ProductClass.ProductClass.UpdateCate</button>
                    <a id="btnDelete" href="/ProductClass/Delete/@(Model.Id)?PageNo=@ViewBag.CurrentPage" class="btn btn-info">@FCVStockTool.Language.ProductClass.ProductClass.DeleteCate</a>
                    <button id="btnImport" class="btn btn-info" data-toggle="modal" data-target="#myModal">@FCVStockTool.Language.ProductClass.ProductClass.Import</button>
                    <button id="btnExport" class="btn btn-info">@FCVStockTool.Language.ProductClass.ProductClass.Export</button>
                </div>
            </div>
        </div>
    </div>
}
<div class="panel panel-info">
    <div class="panel-body">
        <div class="col-lg-8">
        </div><!-- /.col-lg-6 -->
        @using (Html.BeginForm())
        {
            <div class="col-lg-4">
                <div class="input-group">

                    <input id="searchString" name="searchString" type="text" class="form-control" placeholder="@FCVStockTool.Language.ProductClass.ProductClass.Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search" type="submit">@FCVStockTool.Language.ProductClass.ProductClass.Search</button>
                    </span>

                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        }
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>@FCVStockTool.Language.ProductClass.ProductClass.Code</th>
                <th>@FCVStockTool.Language.ProductClass.ProductClass.Name</th>
                <th></th>
            </tr>
            @foreach (var c in ViewBag.ProductClasses)
            {
                <tr>
                    <td><center>@c.Code</center></td>
                    <td><center>@c.Name</center></td>
                    <td><center><a href="/ProductClass/Index/@c.Id?PageNo=@ViewBag.CurrentPage">@FCVStockTool.Language.ProductClass.ProductClass.EditCate</a></center></td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        <div class="btn-toolbar" role="toolbar" aria-label="...">
            @for (int i = 1; i <= @ViewBag.TotalPage; i++)
            {
                <div class="btn-group" role="group" aria-label="...">
                    <a href="/ProductClass/Index?PageNo=@i" class="btn btn-default display-inline">@i</a>
                </div>
            }
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmImport" action="/Invoice/Import" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">@FCVStockTool.Language.ProductClass.ProductClass.ImportCate</h4>
                </div>
                <div class="modal-body">
                    <label for="file">@FCVStockTool.Language.ProductClass.ProductClass.FileName:</label>
                    <input type="file" name="file" id="file" />
                </div>
                <div class="modal-footer">
                    <button id="btnOK" type="button" class="btn btn-primary">@FCVStockTool.Language.ProductClass.ProductClass.Import</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">@FCVStockTool.Language.ProductClass.ProductClass.Close</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section scripts{
    <script>
        $("#btnDelete").click(function () { return ConfirmDelete() });
        $("button#btnOK").click(function () {
            var formData = new FormData();
            var totalFiles = $("#file")[0].files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = $("#file")[0].files[i];
                formData.append("file", file);
            }
            $.ajax({
                type: "POST",
                url: "/ProductClass/Import",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (msg) {
                    $("#myModal").modal('hide');
                    location.reload();
                },
                error: function () {
                    alert("failure");
                }
            });
        });
    </script>
}
